@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-text: black;
  --clr-app-bg-dark: #c9c6c6;
  --clr-app-bg-light: #b9deb7;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  overflow: hidden;
}

main {
  display: flex;
  flex-direction: column;
  margin: 8rem auto;
  max-width: 600px;
  min-width: 425px;
  width: 40%;
  height: 70vh;
  border: 2px solid var(--clr-text);
  border-radius: 20px;
  background-color: var(--clr-app-bg-dark);
}

ul {
  list-style: none;
  padding: 1rem;
  color: black;
  font-weight: 500;
}

li {
  letter-spacing: 2px;
  padding: 1rem 0;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2em;
  margin: 0 2rem;
  height: 7rem;
  text-align: center;
  flex: 1 1 20%;
}

.input-container > input,
.input-container > button {
  height: 2.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.input-container > input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid grey;
  letter-spacing: 4px;
}

.input-container > #item {
  flex: 1 3 70%;
  min-width: 20px;
}

.input-container > #hours {
  flex: 1 5 15%;
  min-width: 20px;
}

.input-container > button {
  font-size: clamp(0.2rem, 0.8rem, 2rem);
  height: 2rem;
  flex: 1 1 15%;
  min-width: 70px;
  max-width: 100px;
  max-height: 1.7rem;
  background-color: var(--clr-app-bg-light);
  border-radius: 15px;
  border: 2px solid grey;
  cursor: pointer;
  transition: transform 350ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.input-container > button:hover,
.input-container > button:focus {
  transform: scale(1.2);
  transform-origin: center;
}

.content {
  display: flex;
}

.item-container {
  display: flex;
}

.list-item {
  flex: 1 1 90%;
}

.list-item2 {
  flex: 1 1 10%;
}

.list-container {
  position: relative;
  z-index: 1;
  height: 70%;
  margin: 0 2rem 2rem 2rem;
  background-color: var(--clr-app-bg-light);
  border: 2px solid grey;
  border-radius: 10px;
  overflow-y: scroll;
}

.items-list {
  position: relative;
  padding-left: 3rem;
}

/* Item list styles */

.list-bullet {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  width: 6px;
  height: 6px;
  left: 1.1rem;
  transform: translateY(0.45rem);
  background: black;
  z-index: 2;
  transition: all 500ms;
}

.x {
  cursor: pointer;
  position: absolute;
  left: 1rem;
  transform: translateY(-0.7rem);
}

.x1,
.x2 {
  position: absolute;
  transform-origin: center;
  height: 3px;
  background-color: var(--clr-text);
}

.x1 {
  transform: rotate(45deg);
}

.x2 {
  transform: rotate(-45deg);
}

/* Custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  /* background: var(--clr-app-bg-light); */
  background: black;
  border-radius: 10px;
}

:focus {
  outline: none;
}
